<!DOCTYPE html>
<html lang="en" data-ng-app="tracksApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SoundCloud Library</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<div class="container">
	<div class="row" data-ng-controller="TracksController" data-ng-cloak>
		<div class="col-md-4">
			<div class="input-group">
				<input data-ng-model="searchText" type="text" class="form-control" placeholder="Search for...">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" data-ng-click="getTracks()">Go!</button>
				</span>
			</div>
			
			<span id="searchError" data-ng-show="searchError">Please specify a search string</span>
			
			<div class="list-group" ng-class="(viewStyle == 'tile') && 'row'">
				<a class="list-group-item" data-ng-show="viewStyle == 'list'" data-ng-repeat="track in tracks" data-ng-click="showImage(track)">{{track.title}}</a>
        		<div class="col-md-6" data-ng-show="viewStyle == 'tile'" data-ng-repeat="track in tracks" data-ng-click="showImage(track)">
        			<a class="thumbnail"><img src="{{track.artwork_url || noImageURL}}"></a>
        		</div>
        	</div>
        	
	        <div class="row" aria-label="Navigation">
	        	<div class="col-md-6">
					<button type="button" class="btn btn-default" aria-label="Next" data-ng-click="getTracks(true)">
						<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
					</button>
				</div>
				<div class="col-md-6" role="group">
					<button type="button" class="btn btn-default pull-right" aria-label="List" data-ng-click="changeViewStyle('list')">
						<span class="glyphicon glyphicon-list" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-default pull-right" aria-label="Tile" data-ng-click="changeViewStyle('tile')">
						<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
					</button>
				</div>
			</div>
		</div>
		
		<div class="col-md-4" id="imageContainer">
			<a class="thumbnail">
      			<img data-ng-click="playTrack()" data-ng-src="{{imgURL}}">
    		</a>
    		<div ng-bind-html="playerHTML">
    		</div>
		</div>
		
		<div class="col-md-4 sidebar-offcanvas">
			<a class="list-group-item active">Recent searches</a>
        	<div class="list-group">
        		<a class="list-group-item" data-ng-repeat="historyItem in history track by $index" data-ng-click="showTracksFromHistory(historyItem)">{{historyItem.output_string}}</a>
			</div>
        </div>

	</div>
    
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script>(typeof angular != 'undefined') || document.write('<script src="lib/angular-1.4.3.min.js")<\/script>')</script>
    <script src="//connect.soundcloud.com/sdk-2.0.0.js"></script>
    <script>window.SC || document.write('<script src="lib/sdk-2.0.0.js"><\/script>')</script>

    <script src="app/app.js"></script>
    <script src="app/controllers/controller.js"></script>
    <script src="app/services/service.js"></script>
</body>
</html>
