body {
    padding: 40px 20px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

iframe {
	height: 145px;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
	background-color: #FF6600;
	border-color: #FF6600;
}

#imageContainer img {
	width: 300px;
	height: 300px;
}

.thumbnail img {
	width: 100px;
	height: 100px;
}

#searchError {
    font-size: 14px;
    font-weight: normal;
    color: #f00;
}

#loadingContainer {
    background: #000 url(../img/loading.gif) no-repeat center center;
    height: 100px;
    width: 100px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
}

.fade-in-out {
  transition: 1s linear all;  
  opacity: 1;
}

.fade-in-out.ng-hide {
  opacity: 0;
}