body {
    padding: 40px 20px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

iframe {
	height: 145px;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
	background-color: #FF6600;
	border-color: #FF6600;
}

#imageContainer img {
	width: 300px;
	height: 300px;
}

.thumbnail img {
	width: 100px;
	height: 100px;
}

#searchError {
    font-size: 14px;
    font-weight: normal;
    color: #f00;
}

